<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1036619977051-2hjgoedn5flg9tur4rq6oe46njc41rll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036619977051-2hjgoedn5flg9tur4rq6oe46njc41rll</string>
	<key>API_KEY</key>
	<string>AIzaSyAJxcDVvtXj9pOIw3cju8nT62s7rUwK8NI</string>
	<key>GCM_SENDER_ID</key>
	<string>1036619977051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.co.flutterapp.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>test-f4ae1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-f4ae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036619977051:ios:53cb314139ffb4cf</string>
	<key>DATABASE_URL</key>
	<string>https://test-f4ae1.firebaseio.com</string>
</dict>
</plist>